<app-progressbar />
<div id="content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a faucibus
    lorem. Nullam ipsum purus, congue vitae tempor quis, blandit nec justo.
    Proin accumsan neque in libero cursus maximus. Phasellus nisl sapien,
    tincidunt vel semper in, pulvinar a justo. Sed quis tristique eros. Nunc a
    ultrices leo. Nunc ultrices justo et sapien porta, et ornare urna iaculis.
    Fusce auctor ac sem ac vulputate. Suspendisse maximus rhoncus quam sit amet
    dictum. Ut orci ligula, luctus non metus a, sollicitudin pretium ante.
    Vivamus a bibendum ante. Morbi molestie, ipsum eu vestibulum sollicitudin,
    velit diam pulvinar odio, vitae cursus urna purus sed odio. Morbi odio orci,
    aliquam nec lectus a, viverra convallis nibh.
  </p>
</div>
<div id="action">
  <button>< Previous</button>
  <button>Show Answer</button>
  <button>Next ></button>
</div>
