:host {
  width: 66.6667%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border: 2px solid gray;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

@media screen and (min-width: 700px) {
  :host {
    width: 500px;
  }
}

#progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#progress div {
  background-color: gray;
  height: 1.25rem;
  border-radius: 0.25rem;
  color: #f8fafc;
  text-align: center;
}

#progress span {
  display: inline-block;
  width: 10%;
  text-align: right;
  vertical-align: center;
}

#content {
  height: 10rem;
  width: 100%;
  margin: 1rem;
  display: flex;
}

#content p {
  text-align: center;
  font-size: 24px;
}

@media screen and (min-width: 700px) {
  #content {
    width: 75%;
    margin: 1rem auto;
  }
}

#action {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  width: 33.3333%;
  text-align: center;
  padding: 0.25rem;
  border: 1px solid black;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

button:active {
  background-color: grey;
}
