<div id="progress">
  <div [style.width]="((currentIndex() + 1) / cards.length) * 90 + '%'">
    {{ ((currentIndex() + 1) / cards.length) * 100 }}%
  </div>
  <span>{{ currentIndex() + 1 }} of {{ cards.length }}</span>
</div>
<div id="content">
  <p>
    @if (showAnswer()) {
      {{ card().answer }}
    } @else {
      {{ card().question }}
    }
  </p>
</div>
<div id="action">
  <button (click)="onPrevious()">< Previous</button>
  <button (click)="onToggleAnswer()">
    @if (showAnswer()) {
      Hide Answer
    } @else {
      Show Answer
    }
  </button>
  <button (click)="onNext()">Next ></button>
</div>
